.idea
ExpressiveWeb/bin
ExpressiveWeb/obj
ExpressiveWeb.Kits/obj
ExpressiveWeb.Kits/bin
.run
ExpressiveWeb.Common/obj
ExpressiveWeb.Common/bin
ExpressiveWeb.Designer/obj
ExpressiveWeb.Designer/bin
ExpressiveWeb.UI.Shell/obj
ExpressiveWeb.UI.Shell/bin
TestProject/obj
TestProject/bin

